// .title {
//   color: #111111;
// }
.formBgImg {
  background-image: url(../video/tomb-raider_0.jpg);
  height: 40rem;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  background-color: #ffffff;
  margin: -10rem auto 0 auto;
  width: 85%;
  height: 45rem;
  padding: 5rem;
}
.formDiv {
  display: flex;
  margin-bottom: 1rem;
}
.formLabel {
  flex: 0 0 9rem;
  text-align: right;
  padding-right: 1rem;
  font-size: 1.2rem;
}
.formInput {
  flex: 1;
  border: 1px solid #e1e1e1;
  height: 2rem;
}
.formInputTextarea {
  height: 15rem;
}
.button,
.buttonBack {
  background-color: #111111;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 0.6rem 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
  border: none;
}
@media (min-width: 768px) {
  .button {
    display: inline-block;
  }
}
.button,
.buttonBack:hover {
  cursor: pointer;
}
.buttonBack {
  background-color: #111111;
  color: #ffffff;
}
.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
.formList {
  display: flex;
  flex-direction: row;
}
.formText {
  text-align: right;
  color: #111111;
}
