.barra{
    display: flex;
    flex-direction: column;
    text-align: right;
    position: relative;
    padding: 1rem 0;
}
.navButton{
    background-color: #ff4f5d;
  border: none;
  
  line-height: 1;
  margin: 0.5em;
  padding: 1rem 1rem;
  color: #ffffff;
  transition: 0.25s;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;

  &:hover,
  &:focus {
    box-shadow: inset 20em 0 0 0 #0f1923;
  }
}
.navLink{
    &:hover{
        color: #ff4f5d;
    }
}