.container {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.title{
    font-size: 5rem;
}

.buttons {
  background-color: #ff4f5d;
  border: none;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1.5rem 3rem;
  color: #ffffff;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1.5rem;

  &:hover,
  &:focus {
    box-shadow: inset 10em 0 0 0 #0f1923;
  }
}
