$fuentePrincipal: 'Righteous', cursive;
$fuenteSecundaria: 'Righteous', cursive;
$fuenteParrafos: 'ABeeZee', sans-serif;
//Colors
$white: #ffffff;
$black: #111111;


//Media Queries


//Fonts
$regular: 400;
$bold: 700;


//Separations